#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 3rem;
}

.read-the-docs {
  color: #888;
}

.App {
  border: solid rgb(131, 132, 187) 2rem;
  padding: 9rem;
  background-color: darkorange;
}

.App {
  color: purple;
}

.Headers {
  font-size: 1.25em;
  line-height: 1.1;
}

.Headers {
  display: grid;
  justify-content: space-evenly;
}

h4 {
  font-size: x-large;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h2left {
  text-align: left;
} 

.Headerlinks a {
  padding:0px 25px;
  
}