#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 3rem;
}

.read-the-docs {
  color: #888;
}

.App {
  border: solid rgb(131, 132, 187) 2rem;
  padding: 9rem;
  width: 100vw;
  height: 100%;
  background-color: darkorange;
}

.App {
  color: rgb(0, 0, 0);
}

.Headers {
  font-size: 1.25em;
  line-height: 1.1;
}

.Headers {
  display: grid;
  justify-content: space-evenly;
}

h4 {
  font-size: x-large;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h2left {
  text-align: left;
} 

.Headerlinks a {
  padding:0px 25px;
  font-size: 1.25rem;
  
}

.filters {
  display: flex; /* Make the filter elements display horizontally */
  justify-content: center; /* Distribute elements evenly within the container */
  margin-bottom: 1rem; /* Add some space below the filters */
  gap: 150px;
  margin: 40px 0px;
}

.filters label {
  display: block; /* Make labels appear on separate lines */
  margin-bottom: 0.5rem; /* Add some space below labels */
}

.filters input {
  width: 150px; /* Set a fixed width for the input boxes */
  padding: 0.5rem; /* Add padding for better user experience */
  border: 3px solid #0dce9e; /* Add a thin border */
  border-radius: 3px; /* Add rounded corners for a smoother look */
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#authorImage {
  height: 500px;
}

.recipe-image {
  width: 500px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.recipe-card a {
  font-size: 1.25rem;
}