#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 3rem;
}

.read-the-docs {
  color: #888;
}

.App {
  border: solid rgb(131, 132, 187) 2rem;
  padding: 9rem;
  background-color: darkorange;
}




